/* Estilo para los modales abiertos uno al lado del otro */
.split-modal-left {
    position: fixed;
    top: 10%;
    left: 5%;
    width: 45%;
    z-index: 1050;
}

.split-modal-right {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 45%;
    z-index: 1050;
}
